.example-card {
  max-width: 400px;
  border-bottom: 10px solid;

}

.red {
  border-bottom-color: red;
}

.blue {
  border-bottom-color: blue;
}

.green {
  border-bottom-color: green;
}

.orange {
  border-bottom-color: orange;
}
